
input[type="number"], textarea {
    background-color: #ffffe6;
    border-bottom: 1px solid #cacaca;
}
.customer-details div.label-item {
    margin-left: 10px;
    margin-right: 10px;
    color: #52566a;
    font-size: 16px;
    font-weight: bold;
    width:60%;
    float:left;
    box-sizing:border-box;
}
.customer-details .dx-fieldset-item {
    margin-bottom: 5px;
    /*padding: 10px;*/
    width:30%;
    float:right;
    box-sizing:border-box;
}
.customer-details .item-info {
    width: 30%;
    line-height: 28px;
    color: #000;
    font-size: 15px;
    float: left;
    margin: 0px 10px;
    box-sizing: border-box;
}
.customer-details .main-item-info {
    width: 60%;
    line-height: 28px;
    color: #000;
    font-size: 15px;
    float: right;
}